{
	admin off
	servers {
		protocols h1 h2 h3
	}
}

{$RCG_PUBLIC_HOST} {
	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
	}

	@operator path /metrics
	respond @operator 404

	reverse_proxy gateway:8080 {
		flush_interval -1
		transport http {
			dial_timeout 5s
			response_header_timeout 65s
			keepalive 30s
		}
	}

	log {
		output stdout
		format json
	}
}
